<?xml version="1.0"?>
<robot name="futurakart" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Include macros -->
    <xacro:include filename="$(find futurakart_description)/urdf/macros/model.urdf" />
    <xacro:include filename="$(find futurakart_description)/urdf/macros/kinect.urdf" />

    <!-- Bring in simulation data for Gazebo. -->
    <xacro:include filename="$(find futurakart_description)/urdf/futurakart.gazebo" />

    <!--**************************************************************************-->
    <!--                     Define links and joints                              -->
    <!--**************************************************************************-->

    <!-- Center of the Kart -->
    <link name="base_link"/>

    <link name="chassis_link">
        <visual>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}"/>
            </geometry>
            <material name="yellow" />
        </visual>
        <inertial>
            <!-- Center of mass -->
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <mass value="5.0"/>
            <!-- Moments of inertia: ( chassis without wheels ) -->
            <inertia
                    ixx="0.294166" ixy="0.0" ixz="0.0"
                    iyy="0.906677" iyz="0.0"
                    izz="1.2005104"/>
        </inertial>
    </link>

    <!--Joint types : http://wiki.ros.org/urdf/XML/joint -->
    <joint name="chassis_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis_link"/>
        <origin xyz="-${wheelbase/2} 0 ${wheel_radius + base_height}"/>
    </joint>


    <!-- Center of the Kart projected on the floor-->
    <link name="base_footprint" />
    <joint name="base_footprint_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="-${wheelbase/2} 0 -${vertical_offset}"/>
    </joint>


    <!--**************************************************************************-->
    <!--Define 4 wheels-->
    <!--**************************************************************************-->

    <xacro:front_wheel prefix="left">
        <arm_pose>
            <origin xyz="0 ${-rot_axle_dist/2} 0" rpy="${PI} 0 0"/><!--Steering arm position-->
        </arm_pose>
        <wheel_pose>
            <origin xyz="0 ${track_arm} 0" rpy="0 0 0" /><!--Wheel position relative to steering arm-->
        </wheel_pose>
    </xacro:front_wheel>

    <xacro:front_wheel prefix="right">
        <arm_pose>
            <origin xyz="0 ${rot_axle_dist/2} 0" rpy="0 0 0" /><!--Steering arm position-->
        </arm_pose>
        <wheel_pose>
            <origin xyz="0 ${track_arm} 0" rpy="0 0 0" /><!--Wheel position relative to steering arm-->
        </wheel_pose>
    </xacro:front_wheel>

    <link name="rear_track_link">
        <visual>
            <origin xyz="0 0 0" rpy="${PI/2} 0 0"/>
            <geometry>
                <cylinder radius="0.005" length="${track_rear}"/>
            </geometry>
            <material name="gray" />
        </visual>
        <inertial>
            <!-- Center of mass -->
            <origin xyz="0.0 0.0 0.0" rpy="${PI/2} 0 0"/>
            <mass value="0.3"/>
            <!-- Moments of inertia: ( chassis without wheels ) -->
            <inertia
                    ixx="0.006504375" ixy="0.0" ixz="0.0"
                    iyy="0.006504375" iyz="0.0"
                    izz="0.0"/>
        </inertial>
    </link>
    <joint name="rear_track_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rear_track_link"/>
        <origin xyz="-${wheelbase} 0 0"/>
    </joint>

    <xacro:rear_wheel prefix="left" parent_link="rear_track_link">
        <!--Wheel position relative to rear_track_link-->
        <origin xyz="0 ${-track_rear/2} 0" rpy="0 0 0" />
    </xacro:rear_wheel>

    <xacro:rear_wheel prefix="right" parent_link="rear_track_link">
        <!--Wheel position relative to rear_track_link-->
        <origin xyz="0 ${track_rear/2} 0" rpy="0 0 0" />
    </xacro:rear_wheel>


    <!--**************************************************************************-->
    <!--Define sensors -->
    <!--**************************************************************************-->
    <xacro:sensor_kinect parent="base_link"/>

</robot>
