<?xml version="1.0"?>
<robot name="futurakart" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Include macros -->
    <xacro:include filename="$(find futurakart_description)/urdf/macros/model.urdf" />
    <xacro:include filename="$(find futurakart_description)/urdf/macros/kinect.urdf" />

    <!-- Bring in simulation data for Gazebo. -->
    <xacro:include filename="$(find futurakart_description)/urdf/futurakart.gazebo" />

    <!--**************************************************************************-->
    <!--                     Define links and joints                              -->
    <!--**************************************************************************-->

    <!-- Center of the Kart -->
    <link name="base_link">
        <visual>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}"/>
            </geometry>
            <origin xyz="${track/2} 0 ${wheel_radius}"/>
            <material name="yellow" />
        </visual>

    </link>

    <!-- Center of the Kart projected on the floor-->
    <link name="base_footprint" />
    <joint name="base_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="${track/2} 0 -${vertical_offset}"/>
    </joint>


    <!--**************************************************************************-->
    <!--Define 4 wheels-->
    <!--**************************************************************************-->

    <xacro:wheel prefix="front_left">
        <origin xyz="${track} ${-wheelbase_front/2} ${wheel_vertical_offset}" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </xacro:wheel>
    <xacro:wheel prefix="front_right">
        <origin xyz="${track} ${wheelbase_front/2} ${wheel_vertical_offset}" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </xacro:wheel>

    <xacro:wheel prefix="rear_left">
        <origin xyz="0 ${-wheelbase_rear/2} ${wheel_vertical_offset}" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </xacro:wheel>
    <xacro:wheel prefix="rear_right">
        <origin xyz="0 ${wheelbase_rear/2} ${wheel_vertical_offset}" rpy="0 0 0" />
        <axis xyz="0 1 0" />
    </xacro:wheel>


    <!--**************************************************************************-->
    <!--Define sensors -->
    <!--**************************************************************************-->
    <xacro:sensor_kinect parent="base_link"/>

</robot>
