<?xml version="1.0"?>
<launch>
  <group ns="futurakart">

    <include file="$(find futurakart_base)/launch/base.launch" />
    <!--Start vision part on the 2nd RPi (at ~/futurakart_ws)-->
    <!--<arg name="ssh_ip" value="192.168.43.5"/>-->
    <arg name="ssh_ip" value="10.42.0.120"/>
    <arg name="ssh_username" value="ubuntu"/>
    <arg name="futurakart_ws_path" value="~/futurakart_ws"/>
    <node name="start_vision" pkg="futurakart_bringup"
          type="start_vision.py" output="screen"
          args="ip:=$(arg ssh_ip) username:=$(arg ssh_username) path:=$(arg futurakart_ws_path)">
    </node>

  </group>
</launch>
