<?xml version="1.0"?>
<!--
    Robot Configuration Launch File
    See http://wiki.ros.org/navigation/Tutorials/RobotSetup
        2.5 Creating a Launch File for the Navigation Stack

-->
<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <!--<node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/>-->

  <!--- Run AMCL -->
  <!--<include file="$(find amcl)/examples/amcl_omni.launch" />-->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find futurakart_2dnav)/resources/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find futurakart_2dnav)/resources/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find futurakart_2dnav)/resources/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find futurakart_2dnav)/resources/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find futurakart_2dnav)/resources/base_local_planner_params.yaml" command="load" />
  </node>
</launch>