<?xml version="1.0"?>
<!--
    
    Create a map with rtabmap_ros
       
    See docs/rtabmap-example.md
    http://wiki.ros.org/rtabmap_ros/Tutorials/SetupOnYourRobot

-->
<launch>

    <!-- Choose configuration: -->
    <arg name="conf_a" default="true"/>
    <arg name="conf_b" default="false"/>

    <!-- Choose valid topic names from Kinect:  -->
    <arg name="camera_name" default="camera"/>
    <arg name="rgb_image" default="/$(arg camera_name)/rgb/image_rect_color"/>
    <arg name="rgb_camera_info" default="/$(arg camera_name)/rgb/camera_info"/>
    <arg name="depth_image" default="/$(arg camera_name)/depth_registered/image_raw"/>
    <arg name="depth_camera_info" default="/$(arg camera_name)/depth_registered/camera_info"/>
    <arg name="base_link" default="base_link" /> <!-- tf coordinate system name of robot: base_link or base_footprint -->
    <arg name="laserscan_topic" default="/$(arg camera_name)/laserscan"/>
    <arg name="database_path" default=""/>


    <!-- Choose rtabmap arguments: -->
        <!-- Debug mode -->
    <arg name="debug" default="false"/>
        <!-- Localization-only mode -->
    <arg name="localization"      default="false"/>

    <arg if="$(arg debug)" name="rtabmap_args_debug"  default="--udebug"/>
    <arg unless="$(arg debug)" name="rtabmap_args_debug"  default=""/>
    <arg if="$(arg localization)" name="rtabmap_args_del_db"  default=""/>
    <arg unless="$(arg localization)" name="rtabmap_args_del_db"  default="--delete_db_on_start"/>
    <arg name="rtabmap_args" value="$(arg rtabmap_args_debug) $(arg rtabmap_args_del_db)"/>

    <!-- ********************************************************************* -->
    <!-- Start rtabmap -->
    <!-- ********************************************************************* -->
    <!-- SLAM : https://github.com/introlab/rtabmap_ros/blob/master/launch/rtabmap.launch -->
    <group if="$(arg conf_a)">
        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg rtabmap_args)">
            <param name="frame_id" type="string" value="$(arg base_link)"/> 

            <param name="subscribe_depth" type="bool" value="true"/>
            <param name="subscribe_scan" type="bool" value="true"/>

            <!--<remap from="odom" to="$(arg rtm_output_vis_odom)"/>-->
            <remap from="odom" to="/odom"/>
            <remap from="scan" to="$(arg laserscan_topic)"/>

            <remap from="rgb/image" to="$(arg rgb_image)"/>
            <remap from="depth/image" to="$(arg depth_image)"/>
            <remap from="rgb/camera_info" to="$(arg rgb_camera_info)"/>

            <param name="queue_size" type="int" value="10"/>

            <param name="database_path" value="$(arg database_path)"/>

            <!-- localization mode -->
            <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
            <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
            <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>

            <!-- RTAB-Map's parameters -->
            <param name="RGBD/ProximityBySpace"     type="string" value="false"/>
            <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
            <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
            <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
            <param name="Optimizer/Slam2D"          type="string" value="true"/>
            <param name="Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP -->
            <param name="Reg/Force3DoF"             type="string" value="true"/>
            <param name="Vis/MaxDepth"              type="string" value="4.0"/>
            <param name="Vis/MinInliers"            type="string" value="5"/>
            <param name="Vis/InlierDistance"        type="string" value="0.05"/>
            <param name="Rtabmap/TimeThr"           type="string" value="700"/>
            <param name="Mem/RehearsalSimilarity"   type="string" value="0.45"/>
            <param name="Icp/CorrespondenceRatio"   type="string" value="0.5"/>

            <param name="Reg/Force3DoF" type="string" value="true"/> <!-- (x, y, theta) instead of (x, y, z, roll, pitch, yaw) -->

        </node>
    </group>


</launch>
