<?xml version="1.0"?>
<launch>

    <arg name="teleop" default="false"/>
    <arg name="emulator_verbose" default="false"/>

    <!--Start emulator -->
    <include file="$(find futurakart_mbed_emu)/launch/emulator.launch">
        <arg name="verbose" value="$(arg emulator_verbose)"/>
    </include>

    <!--Start futurakart base node -->
    <node name="futurakart_node" pkg="futurakart_base"
          type="futurakart_node" output="screen">
        <param name="motordrive_cmd_topic" value="motordrive_cmd"/>
        <param name="motorfeedback_topic" value="motorfeedback"/>
    </node>

    <!--Start robot description-->
    <include file="$(find futurakart_description)/launch/description.launch" />

    <!-- Ackermann controller and basic localization -->
    <include file="$(find futurakart_control)/launch/control.launch" />

    <!-- Ackermann controller and basic localization -->
    <include if="$(arg teleop)" file="$(find futurakart_control)/launch/teleop.launch">
        <!--arg name="config" value="linear"/-->
        <arg name="config" value="ackermann"/>
    </include>

</launch>
