<?xml version="1.0"?>
<!--
    
    Robot navigation configuration :

    Choose a configuration : conf_a (default) or conf_b
    See docs/rtabmap-example.md for details
     
    Following topic are published :
    Both configurations (A and B)
    
     - /camera/rgb/image          (from Kinect)
     - /camera/rgb/camera_info    (from Kinect)     
     - /camera/depth/image        (from Kinect)
     - /camera/laserscan          (from Kinect -> depthimage_to_laserscan)
    
    
    Only in Configuration B :



-->
<launch>

    <!-- Choose configuration -->
    <arg name="conf_a" default="true"/>
    <arg name="conf_b" default="false"/>


    <!-- ********************************************************************* -->
    <!--   Setup sensors : image from Kinect, depth from Kinect, laserscan     -->
    <!-- ********************************************************************* -->

    <!-- HERE COMES CODE TO START Kinect NODE -->
    <arg name="depth_image" default="????"/>
    <arg name="depth_camera_info" default="????"/>  
     
        
    <!-- Uncompress data -->
    <node name="republish_depth" 
          type="republish" 
          pkg="image_transport" 
          args="compressedDepth in:=$(arg depth_image) raw out:=$(arg depth_image)_relay" />
              
    <!--RGBD to LaserScan-->
    <node pkg="depthimage_to_laserscan"
          name="depthimage_to_laserscan"
          type="depthimage_to_laserscan"
          output="screen">
        <remap from="image" to="$(arg depth_image)_relay" />
        <remap from="camera_info" to="$(arg depth_camera_info)" />
        <remap from="scan" to="$(arg d2l_output_laserscan)" />

        <param name="scan_height" value="$(arg d2l_scan_height)"/>
        <param name="output_frame_id" value="$(arg d2l_output_frame_id)"/>
        <param name="_image_transport" value="compressed"/>
    </node>

    <!-- ********************************************************************* -->
    <!--  Setup visual odometry : from Kinect (conf_a), from PiCamera (conf_b) -->
    <!-- ********************************************************************* -->


        
    <!-- ********************************************************************* -->
    <!--                    Setup robot transformations                        -->
    <!-- ********************************************************************* -->
    <include file="$(find futurakart_2dnav)/launch/robot_setup_tf.launch" />

</launch>
