<?xml version="1.0"?>
<!--
    
    Create a map with rtabmap_ros
       
    See docs/rtabmap-example.md
    http://wiki.ros.org/rtabmap_ros/Tutorials/SetupOnYourRobot
    
    
    Inputs : 
    - Configuration A or Configuration B
    
    Following topic are published :
    Both configurations (A and B)

    
    Only in Configuration B :
    
-->
<launch>

    
    


</launch>
