<launch>

  <arg name="markers" default="false"/>
  <arg name="config" default="linear" />

  <group if="$(arg markers)">
    <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server">
      <remap from="twist_marker_server/cmd_vel" to="/cmd_vel" />
      <rosparam command="load" file="$(find futurakart_control)/config/interactive_marker_twist_server/$(arg config).yaml" />
    </node>
  </group>
  <group unless="$(arg markers)">
    <arg name="config" default="basic" />
    <node pkg="key_teleop" type="key_teleop.py" name="key_teleop">
      <remap from="key_vel" to="/cmd_vel" />
      <rosparam command="load" file="$(find futurakart_control)/config/key_teleop/$(arg config).yaml" />
    </node>
  </group>

</launch>
