<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find futurakart_description)/urdf/futurakart.urdf'" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find futurakart_viz)/rviz/model.rviz" />

</launch>
