<launch>

    <!-- Open serial server via rosserial_python -->
    <arg name="port" default="/dev/ttyACM0"/>
    <!-- Enable port to be writable/readable -->
    <param name="chmod_tty_returncode" command="sudo chmod 666 '$(arg port)'"/>

    <node name="rospy_serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="~port" value="$(arg port)"/>
        <param name="~baud" value="115200"/>
    </node>
    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />

    <node pkg="futurakart_base" type="futurakart_node" name="futurakart_node" output="screen">
        <param name="motordrive_cmd_topic" value="motordrive_cmd"/>
        <param name="motorfeedback_topic" value="motorfeedback"/>
    </node>

    <!--Start robot description-->
    <include file="$(find futurakart_description)/launch/description.launch" />

    <!-- Ackermann controller and basic localization -->
    <include file="$(find futurakart_control)/launch/control.launch" />

    <!-- Teleoperation via joystick and rviz interactive markers -->
    <!--  <include file="$(find futurakart_control)/launch/teleop.launch" />-->

    <!-- Diagnostic Aggregator for robot monitor usage -->
    <!--  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator">
    <rosparam command="load" file="$(find futurakart_base)/config/diagnostic_analyzers.yaml" />
    </node>-->

</launch>
