<?xml version="1.0"?>
<!--
    Launch file to create a map
-->
<launch>

    <!-- Choose configuration: -->
    <arg name="gmapping" default="false"/>
    <arg name="rtabmap" default="false"/>
    <arg name="from_new" default="false"/>
    <arg name="odom_frame"  default="odom"/>

    <!-- Setup default topic names from Kinect:  -->
    <arg name="camera_name" default="camera"/> <!-- Kinect camera namespace name for output topics -->
    <arg name="rgb_image" default="/$(arg camera_name)/rgb/image_rect_color"/> <!-- RGB image topic -->
    <arg name="rgb_camera_info" default="/$(arg camera_name)/rgb/camera_info"/> <!-- RGB Camera info topic -->
    <arg name="depth_image" default="/$(arg camera_name)/depth_registered/image_raw"/> <!-- Depth image topic -->
    <arg name="depth_camera_info" default="/$(arg camera_name)/depth_registered/camera_info"/> <!-- Depth Camera info topic -->
    <arg name="base_kinect_link" default="$(arg camera_name)_link" /> <!-- tf coordinate system name from Kinect -->
    <arg name="laserscan_topic" default="/$(arg camera_name)/laserscan"/> <!-- Laserscan topic name for depth_to_laserscan output -->
    <arg name="laserscan_frame" default="$(arg base_kinect_link)"/>
    <arg name="database_path" default="$(find futurakart_2dnav)/maps/_map.db"/> <!-- Path of the RTAB-Map's database -->
    <arg name="base_frame_id" default="$(arg base_kinect_link)" />

    <!-- ********************************************************************* -->
    <!--  Start gmapping if selected  -->
    <!-- ********************************************************************* -->
    <include if="$(arg gmapping)" file="$(find futurakart_2dnav)/launch/includes/gmapping.launch">
        <arg name="scan_topic"  value="$(arg laserscan_topic)" />
        <arg name="base_frame"  value="$(arg base_frame_id)"/>
        <arg name="odom_frame"  value="$(arg odom_frame)"/>
    </include>


    <!-- ********************************************************************* -->
    <!--  Start rtabmap if selected -->
    <!-- ********************************************************************* -->
    <include if="$(arg rtabmap)" file="$(find futurakart_2dnav)/launch/includes/rtabmapping.launch">
        <arg name="localization" value="false"/>
        <arg name="delete_db" value="$(arg from_new)"/>
        <arg name="rgb_image" value="$(arg rgb_image)"/>
        <arg name="rgb_camera_info" value="$(arg rgb_camera_info)"/>
        <arg name="depth_image" value="$(arg depth_image)"/>
        <arg name="depth_camera_info" value="$(arg depth_camera_info)"/>
        <arg name="mobile_base" value="$(arg base_frame_id)" />
        <arg name="laserscan_topic" value="$(arg laserscan_topic)"/>
        <arg name="database_path" value="$(arg database_path)"/>
    </include>

</launch>
