<?xml version="1.0" ?>
<robot name="xacro_properties" xmlns:xacro="http://ros.org/wiki/xacro">

    <!--************************************************-->
    <!--          Futurakart model dimensions           -->
    <!--************************************************-->
    <!-- base_link is the middle of the front wheel axle -->
    <!-- x axis : from rear to front                    -->
    <!-- y axis : from left to right                    -->
    <!-- z axis : from floor to the sky                 -->
    <!--************************************************-->

    <!--We adapt wikipedia definitions : https://en.wikipedia.org/wiki/Wheelbase -->

    <!-- track_rear = distance between wheels in meters -->
    <xacro:property name="track_rear" value="0.51" />
    <!-- track_arm = distance between wheel and rotation axle -->
    <xacro:property name="track_arm" value="0.12" />
    <!-- rot_axle_dist = distance between the two wheels' rotation axle -->
    <xacro:property name="rot_axle_dist" value="0.34"/>
    <!-- track_front = distance between wheels in meters -->
    <!-- track_front is equal to rot_axle_dist + 2 * track_arm -->
    <!--<xacro:property name="track_front" value="${rot_axle_dist + 2*track_arm}" />-->

    <!-- Wheelbase = distance between front and rear axles (when going straight)-->
    <xacro:property name="wheelbase" value="1" />

    <!-- Wheel_vertical_offset = vertical distance between base_link and wheel center -->
    <!--<xacro:property name="wheel_vertical_offset" value="0" />-->

    <!-- Vertical_offset = vertical distance between base_link and the floor -->
    <xacro:property name="vertical_offset" value="0.125" />

    <!-- footprint_vertical_offset = z axis distance between floor footprint and base_link -->
    <xacro:property name="footprint_vertical_offset" value="0.125" />

    <!-- Wheel dimensions -->
    <xacro:property name="wheel_radius" value="0.125" />
    <xacro:property name="wheel_width" value="0.085" />

    <!-- Base plank dimensions -->
    <xacro:property name="base_length" value="1.475" />
    <xacro:property name="base_width" value="0.84" />
    <xacro:property name="base_height" value="0.02" />

    <xacro:property name="dummy_inertia" value="1e-09"/>
    <xacro:property name="mount_spacing" value="0.120" />

</robot>
